body{
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Slab', serif;
}

ul,li{
  display: block;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

header{
  background: url("../img/Ellipse 3.png") no-repeat center /cover;
}

#logo{
  padding-top: 45px;
  padding-bottom: 60px;
}

nav{
  padding-top: 64px;
}

.menu{

}

.menu__item{
  margin:0 20px;
}

.menu__item a{
  font-size: 17px;
  color: #fff;
}

.offer{
  padding-top: 264px;
  padding-bottom: 80px;
}
.offer__text{
  padding-top: 44px;
}

h1{
  font-weight: 400;
  font-size: 40px;
  color: #fff;
}

p{
  font-size: 26px;
  font-weight: 500;
  color: #fff;
}

.button{
  padding-bottom: 250px;
}

button{
  border: none;
  border-radius: 10px;
  height: 80px;
  width: 242px;
  font-size: 20px;
}

.button__1{
  background-color: #fff;
  margin-right: 30px;
}

.button__2{
  background-color: #4f9edb;
  color: #fff;

}
