.slider {
    position: relative;
    overflow: hidden;
    height: 220px;
}

@keyframes slider {
    25% {opacity: 1;}
    40% {opacity: 0;}
}

.slider img {
    position: absolute;
    z-index: 0;
    left: 0%;
    width: 100%;
    opacity: 0;
    animation: slider 16s infinite;
}

img:nth-child(1){animation-delay:0}
img:nth-child(2){animation-delay:4s}
img:nth-child(3){animation-delay:8s}
img:nth-child(4){animation-delay:12s}